<header class="Header">
  <div id="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fas fa-home"></i>
    </a>
    <span>|</span>
    <a routerLink="/list" routerLinkActive="active">
      <i class="fas fa-tasks"></i>
    </a>
    <span>|</span>
    <a routerLink="/game" routerLinkActive="active">
      <i class="fas fa-gamepad"></i>
    </a>
    <span>|</span>
    <a routerLink="/settings" routerLinkActive="active">
      <i class="fas fa-cog"></i>
    </a>
  </div>
</header>