<div class="PuzzleSetup">
  <div class="PuzzleSetup-message">Choose your difficulty</div>
  <div class="PuzzleSetup-row">
    <div class="PuzzleSetup-start ui-button" (click)="setupGame(2)">Super easy</div>
  </div>
  <div class="PuzzleSetup-row">
    <div class="PuzzleSetup-start ui-button" (click)="setupGame(3)">Normal</div>
  </div>
  <div class="PuzzleSetup-row">
    <div class="PuzzleSetup-start ui-button" (click)="setupGame(4)">Hard</div>
  </div>
  <div class="PuzzleSetup-row">
    <div class="PuzzleSetup-start ui-button" (click)="setupGame(6)">I have time to waste...</div>
  </div>
</div>